.SouthPark{
		

}
body{

	background: #ecefee;
	text-align: center;
}
.nav{

	background: #07dafa;
	width: 100%;
	margin-bottom:20px;
	font-size: 22px;
	position: relative;
	box-shadow: 0 0.3em 1em #000;
	display:block;
}
.HomeA{
	margin:1%;
	 width: 100%;
	 color: white;
	 text-shadow: black 1px 1px 1px;
	 -webkit-text-stroke: 1px rgba(0,0,0,0.2);
  	 -webkit-text-fill-color: white;
  	 background-image: -webkit-linear-gradient(left, #07dafa 50%, #2a303b 50%);
     background-image: linear-gradient(to right, #07dafa 50%, #2a303b 50%);
     background-position: 0;
     background-size: 200%;
     -webkit-transition: all 0.2s;
     transition: all 0.2s;
}
.info{
	text-align: center;
	background: white;
	position: relative ;
	width: 75%;
	max-width: 980px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	box-shadow: 0 0.3em 1em #000;
}
h1{
	
	
	color:#ff5e00;

}

.infoImg{

text-align: center;

}
img{
	height: 200px;
	width: 200px;
	margin-left:30px;
	margin-right:30px;
	margin-top: 30px;
	display: inline-block; 
}
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline;
  background-position: -100%;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
.AboutMe{

	display:inline-block;
	width: 100em;
	max-width: 950px;
	height: 100em;
	max-height: 1200px;
	align-content: center;
	text-align: center;
	background: white;
	box-shadow: 0 0.3em 1em #000;
}
.imgAM{

	width: 25%;
	height: 15%;
	position: relative;
	
}
@keyframes imgMove{
 from{
 	background-image: url(../img/indie-gamedev-ukraine-840.png);
 }
 50%{

	
	background-image: url(../img/Game-Development-1024x576.png);
 }
 to{

	background-image: url(../img/gamedev-logo.jpg);

 }
}

p{
	color:  #4b4f54 ;
	font-size: 20px;
	font-family:sans-serif;
	text-align: justify;
	margin-left: 10px;
	margin-right: 10px;
}
ul{

	
	text-align: justify;

}
.map{

	margin-top: 3px;
	margin-bottom: 3px;
	margin-left:  3px;
	margin-right: 3px;
}
.History{


	font-size:  25px;
	border: 4px double black; /* Параметры границы */
    background:; /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */
    margin: auto;
    width: 900px;
    max-width: 1280px;
}
.title{

	text-align: center;
	width: 900px;
	border: 4px double black; /* Параметры границы */
    background:; /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */
    font-size: 36px;
    font-family: Helvetica;
}
.infoText{

	width: 450px;
	height: 600px;
}
th{
border: 4px double black; /* Параметры границы */
    background:; /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */

}

q:lang(en){

	
	
	 quotes: "\201C" "\201D"; 

}
q:lang(ru){

	
	
	 quotes: "\8381" "\8381"; 

}
.war{

	font-size: 36px;
}
.backgroundMove{

	width: 100%;
	animation-name: imgMove;
	animation-duration:15s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;

}




.wrapperSP *{

  
  border: 0.5px  solid black;
  display: inline-block;
  position: absolute;
  
  
}
.Erick {
  height: 190px;
  width: 185px;
 left :200;

}
.Erick:after {
  content: " ";
  -webkit-border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 71px;
  width: 35px;
  height: 13px;
  background: #f0e50c;
  z-index: 99;
}


.Erick .head {
  -webkit-border-radius: 50%;
  position: absolute;
  top: 24px;
  left: 26px;
  width: 132px;
  height: 106px;
  overflow: hidden;
  background: #f0d5ab;
  z-index: 15;
}

.Erick .head .hat {
  -webkit-border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  width: 132px;
  height: 78px;
  background: #49c2b5;
}

  .Erick .head .hat:after {
  content: " ";
  -webkit-border-radius: 65% 40%;
  position: absolute;
  top: 29px;
  left: -6px;
  width: 137px;
  height: 52px;
  background: #f0d5ab;
}
.Erick .head .eye-l, .Erick .head .eye-r {
  -webkit-border-radius: 65% 50%;
  position: absolute;
  top: 35px;
  left: 36px;
  width: 32px;
  height: 37px;
  background: #ffffff;
}
.Erick .head .eye-l:after, .Erick .head .eye-r:after {
  -webkit-border-radius: 50%;
  content: " ";
  position: absolute;
  top: 18px;
  left: 16px;
  height: 3px;
  width: 3px;
  background: #000000;
}
.Erick .head .eye-r {
  -webkit-border-radius: 50% 65%;
  left: 69px;
}
.Erick .head .lace {
  -webkit-border-radius: 65% 50%;
  -webkit-box-shadow: 0 1px 0 black;
  position: absolute;
  top: 79px;
  left: 64px;
  width: 15px;
  height: 8px;
}
.Erick .body {
  -webkit-border-radius: 50% 50% 33% 33%;
  position: absolute;
  top: 80px;
  left: 13px;
  height: 90px;
  width: 160px;
  background: #c60735;
  z-index: 10;
}
.Erick .body .zipper {
  position: absolute;
  top: 48px;
  left: 86px;
  width: 1px;
  height: 42px;
  background: #5c0011;
}


.Erick .body .hand-l {
  -webkit-border-radius: 60% 160% 50% 100%;
  position: absolute;
  top: 38px;
  left: -11px;
  width: 29px;
  height: 22px;
  background: #ede40b;
  z-index: 10;
}
.Erick .body .hand-r {
  -webkit-border-radius: 60% 50% 50% 70%;
  position: absolute;
  top: 35px;
  left: 140px;
  width: 29px;
  height: 25px;
  background: #ede40b;
  z-index: 10;
}
.Erick .body .hand-r:before {
  -webkit-border-radius: 100% 28%;
  border-radius: 100% 28%;
  content: " ";
  position: absolute;
  top: 5px;
  left: -5px;
  width: 29px;
  height: 18px;
  background: #ede40b;
}


.Erick .legs {
  -webkit-border-radius: 0 0 10px 10px/37px;
  position: absolute;
  left: 22px;
  top: 154px;
  width: 140px;
  height: 23px;
  background: #623919;
  z-index: 5;
}
.Erick .legs .foot-l, .Erick .legs .foot-r {
  -webkit-border-radius: 50% 50% 0 0/7px;
  position: absolute;
  top: 18px;
  left: 2px;
  width: 70px;
  height: 8px;
  background: #21241e;
  z-index: 5;
}
.Erick .legs .foot-r {
  left: 69px;
}


.background{

	display: inline-block;
	margin: auto;
}



.Kenny {
 
  display: inline-block;
  height: 190px;
  width: 125px;
  left: 0px;
  
}
.Kenny .head {
  -webkit-border-radius: 50%;
  position: absolute;
  top: 23px;
  left: 5px;
  width: 115px;
  height: 116px;
  background: #f0d5ab;
  z-index: 15;
}
.Kenny .head .hat {
  -webkit-border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: solid 26px #ed5c10;
  border-left-width: 23px;
  border-right-width: 23px;
  z-index: 10;
  width: 70px;
  height: 65px;
}
.Kenny .head .lefthead {
  -webkit-border-radius: 50%;
  content: " ";
  position: absolute;
  top: 25px;
  left: 0;
  right: -30px;
  bottom: 25px;
  border-left: solid 34px #653c1a;
  z-index: 5;
}
.Kenny .head .righthead {
  -webkit-border-radius: 50%;
  content: " ";
  position: absolute;
  top: 25px;
  left: -30px;
  right: 0px;
  bottom: 25px;
  border-left: solid 34px #653c1a;
  z-index: 5;
  transform: rotateY(180deg);
}


.Kenny .head .eye-l, .Kenny .head .eye-r {
  -webkit-border-radius: 65% 50%;
  -moz-border-radius: 65% 50%;
  -ms-border-radius: 65% 50%;
  -o-border-radius: 65% 50%;
  border-radius: 65% 50%;
  position: absolute;
  top: 41px;
  left: 26px;
  width: 31px;
  height: 36px;
  background: #ffffff;
}
.Kenny .head .eye-l:after, .Kenny .head .eye-r:after {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  content: " ";
  position: absolute;
  top: 14px;
  left: 19px;
  height: 3px;
  width: 3px;
  background: #000000;
}
.Kenny .head .eye-r {
  -webkit-border-radius: 50% 65%;
  -moz-border-radius: 50% 65%;
  -ms-border-radius: 50% 65%;
  -o-border-radius: 50% 65%;
  border-radius: 50% 65%;
  left: 58px;
}
.Kenny .head .eye-r:after {
  top: 14px;
  left: 7px;
}
.Kenny .head .lace {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 26px;
  left: 17px;
  right: 18px;
  bottom: 17px;
  border: solid 1px #653c1a;
  z-index: 15;
}
.Kenny .head  .lace:before {
  -webkit-border-radius: 0% 0% 100% 0%;
  box-shadow: 1px 1px 0 #653c1a;
  content: " ";
  position: absolute;
  top: 61px;
  left: 31px;
  width: 6px;
  height: 19px;
  z-index: 10;
}
.Kenny .head  .lace:after {
  -webkit-border-radius: 0% 0% 0% 100%;
  box-shadow: -1px 1px 0 #653c1a;
  content: " ";
  position: absolute;
  top: 61px;
  left: 41px;
  width: 5px;
  height: 20px;
  z-index: 10;
}
.Kenny .body {
  -webkit-border-radius: 50% 50% 33% 33%/100px 100px 17px 17px;
  -webkit-box-shadow: 0 1px 0 #8d370a;
  position: absolute;
  top: 115px;
  left: 10px;
  height: 56px;
  width: 100px;
  background: #ec5b0f;
  z-index: 10;
}
.Kenny .body .zipper {
  position: absolute;
  top: 14px;
  left: 53px;
  width: 1px;
  height: 42px;
  background: #5c0011;
}
.Kenny .body .hand-l {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 32px;
  left: -2px;
  width: 20px;
  height: 20px;
  background: #673e1e;
  z-index: 10;
}
.Kenny .body .hand-l:before {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  content: " ";
  position: absolute;
  left: 11px;
  top: 3px;
  height: 6px;
  width: 6px;
  border: solid 1px #5c0011;
  background: #673e1e;
}
.Kenny .body .hand-r {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 33px;
  left: 87px;
  width: 20px;
  height: 20px;
  background: #673e1e;
  z-index: 10;
}
.Kenny .body .hand-r:before {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  content: " ";
  position: absolute;
  left: 2px;
  top: 3px;
  height: 6px;
  width: 6px;
  border: solid 1px #5c0011;
  background: #673e1e;
}
.Kenny .legs {
  -webkit-border-radius: 44px 44px 0 0;
  -moz-border-radius: 44px 44px 0 0;
  -ms-border-radius: 44px 44px 0 0;
  -o-border-radius: 44px 44px 0 0;
  border-radius: 44px 44px 0 0;
  position: absolute;
  left: 22px;
  top: 154px;
  width: 80px;
  height: 25px;
  background: #ec5b0f;
  z-index: 5;
}
.Kenny .legs .foot-l, .Kenny .legs .foot-r {
  -webkit-border-radius: 50% 50% 0 0/7px;
  -moz-border-radius: 50% 50% 0 0/7px;
  -ms-border-radius: 50% 50% 0 0/7px;
  -o-border-radius: 50% 50% 0 0/7px;
  border-radius: 50% 50% 0 0/7px;
  position: absolute;
  top: 21px;
  left: -8px;
  width: 48px;
  height: 5px;
  background: #21241e;
  z-index: 5;
}
.Kenny .legs .foot-r {
  left: 36px;
}


.Stan {
   display: inline-block;
  height: 190px;
  width: 125px;
  left:200px;
}
.Stan:after {
  content: " ";
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 7px;
  left: 48px;
  width: 24px;
  height: 23px;
  background: #be032b;
  z-index: 99;
}
.Stan .head {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 18px;
  left: 6px;
  width: 110px;
  height: 112px;
  overflow: hidden;
  background: #f0d5ab;
  z-index: 15;
}
.Stan .head .hat {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  width: 112px;
  height: 78px;
  background: #4a6398;
}
.Stan .head.hat:before {
  content: " ";
  -webkit-border-radius: 50% 70%;
  position: absolute;
  top: 32px;
  left: -3px;
  width: 134px;
  height: 48px;
  background: #be032b;
}
.Stan .head .hat:after {
  content: " ";
  -webkit-border-radius: 60% ;
  position: absolute;
  top: 43px;
  left: -6px;
  width: 137px;
  height: 42px;
  background: #f0d5ab;
}
.Stan .head .eye-l{
  -webkit-border-radius: 65% 50%;
  position: absolute;
  top: 45px;
  left: 26px;
  width: 31px;
  height: 36px;
  background: #ffffff;
}
.Stan .head .eye-r{

 -webkit-border-radius: 65% 50%;
  position: absolute;
  top: 45px;
  right:  26px;
  width: 31px;
  height: 36px;
  left: 55px;
  background: #ffffff;
}


.Stan .head .eye-l:after, .Stan .head .eye-r:after {
  -webkit-border-radius: 50%;
  content: " ";
  position: absolute;
  top: 18px;
  left: 15px;
  height: 3px;
  width: 3px;
  background: #000000;
}


.Stan .head .lace {
  -webkit-border-radius: 65% 50%;
  -moz-border-radius: 65% 50%;
  -ms-border-radius: 65% 50%;
  -o-border-radius: 65% 50%;
  border-radius: 65% 50%;
  -webkit-box-shadow: 0 1px 0 black;
  -moz-box-shadow: 0 1px 0 black;
  box-shadow: 0 1px 0 black;
  position: absolute;
  top: 89px;
  left: 48px;
  width: 18px;
  height: 8px;
}
.Stan .body {
  -webkit-border-radius: 50% 50% 33% 33%/100px 100px 17px 17px;
  -moz-border-radius: 50% 50% 33% 33%/100px 100px 17px 17px;
  -ms-border-radius: 50% 50% 33% 33%/100px 100px 17px 17px;
  -o-border-radius: 50% 50% 33% 33%/100px 100px 17px 17px;
  border-radius: 50% 50% 33% 33%/100px 100px 17px 17px;
  position: absolute;
  top: 99px;
  left: 10px;
  height: 70px;
  width: 100px;
  background: #905947;
  z-index: 10;
}
.Stan .body .zipper {
  position: absolute;
  top: 27px;
  left: 49px;
  width: 1px;
  height: 42px;
  background: #5c0011;
}

.Stan .body  .hand-l {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 42px;
  left: -6px;
  width: 20px;
  height: 20px;
  background: #c00531;
  z-index: 10;
}
.Stan .body .hand-l:before {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  content: " ";
  position: absolute;
  left: 11px;
  top: 3px;
  height: 6px;
  width: 6px;
  border: solid 1px #5c0011;
  background: #c00531;
}
.Stan .body  .hand-r {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 45px;
  left: 83px;
  width: 20px;
  height: 20px;
  background: #c00531;
  z-index: 10;
}
.Stan .body .hand-r:before {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  content: " ";
  position: absolute;
  left: 2px;
  top: 3px;
  height: 6px;
  width: 6px;
  border: solid 1px #5c0011;
  background: #c00531;
}
.Stan .legs {
  -webkit-border-radius: 44px 44px 0 0;
  -moz-border-radius: 44px 44px 0 0;
  -ms-border-radius: 44px 44px 0 0;
  -o-border-radius: 44px 44px 0 0;
  border-radius: 44px 44px 0 0;
  position: absolute;
  left: 22px;
  top: 154px;
  width: 80px;
  height: 25px;
  background: #4a6398;
  z-index: 5;
}
.Stan .legs .foot-l, .Stan .legs .foot-r {
  -webkit-border-radius: 50% 50% 0 0/7px;
  -moz-border-radius: 50% 50% 0 0/7px;
  -ms-border-radius: 50% 50% 0 0/7px;
  -o-border-radius: 50% 50% 0 0/7px;
  border-radius: 50% 50% 0 0/7px;
  position: absolute;
  top: 21px;
  left: -8px;
  width: 48px;
  height: 5px;
  background: #21241e;
  z-index: 5;
}
.Stan .legs .foot-r {
  left: 36px;
}


.Kyle {
  position: relative;
  display: inline-block;
  height: 190px;
  width: 140px;
  left: 300px;
}
.Kyle .head {
  -webkit-border-radius: 50%;
  position: absolute;
  top: 18px;
  left: 15px;
  width: 110px;
  height: 110px;
  background: #f0d5ab;
  z-index: 15;
}
.Kyle .head .hat {
  -webkit-border-radius: 10px 10px 0 0;
  position: absolute;
  top: -18px;
  left: -6px;
  width: 104px;
  height: 47px;
  border: solid 10px #5be219;
  border-top-width: 18px;
  border-bottom-width: 0;
  background: #25b832;
  z-index: 5;
}
.Kyle .head .hat:before {
  -webkit-border-radius: 300% 70%;
  -moz-border-radius: 300% 70%;
  -ms-border-radius: 300% 70%;
  -o-border-radius: 300% 70%;
  border-radius: 300% 70%;
  -webkit-box-shadow: 0 -1px 0 #25b832;
  -moz-box-shadow: 0 -1px 0 #25b832;
  box-shadow: 0 -1px 0 #25b832;
  content: " ";
  position: absolute;
  top: 17px;
  left: -26px;
  width: 24px;
  height: 50px;
  background: #5be219;
}
.Kyle .head .hat:after {
  -webkit-border-radius: 70% 300%;
  -moz-border-radius: 70% 300%;
  -ms-border-radius: 70% 300%;
  -o-border-radius: 70% 300%;
  border-radius: 70% 300%;
  -webkit-box-shadow: 0 -1px 0 #25b832;
  -moz-box-shadow: 0 -1px 0 #25b832;
  box-shadow: 0 -1px 0 #25b832;
  content: " ";
  position: absolute;
  top: 16px;
  left: 106px;
  width: 24px;
  height: 50px;
  background: #5be219;
}
.Kyle .head .eye-l {
  -webkit-border-radius: 65% 50%;
  -moz-border-radius: 65% 50%;
  -ms-border-radius: 65% 50%;
  -o-border-radius: 65% 50%;
  border-radius: 65% 50%;
  position: absolute;
  top: 40px;
  left: 22px;
  width: 32px;
  height: 37px;
  background: #ffffff;
}

.Kyle .head .eye-r{

-webkit-border-radius: 44% 50%;
  position: absolute;
  top: 42px;
  left: 63px;
  width: 32px;
  height: 37px;
  background: #ffffff;

}

.Kyle .head .eye-r:after {
  -webkit-border-radius: 50%;
  content: " ";
  position: absolute;
  top: 18px;
  left: 15px;
  height: 3px;
  width: 3px;
  background: #000000;
}
.Kyle .head .eye-l:after {
  -webkit-border-radius: 50%;
  content: " ";
  position: absolute;
  top: 18px;
  left: 15px;
  height: 3px;
  width: 3px;
  background: #000000;
}

.Kyle .head .lace {
  -webkit-border-radius: 65% 50%;
  -moz-border-radius: 65% 50%;
  -ms-border-radius: 65% 50%;
  -o-border-radius: 65% 50%;
  border-radius: 65% 50%;
  -webkit-box-shadow: 0 1px 0 black;
  -moz-box-shadow: 0 1px 0 black;
  box-shadow: 0 1px 0 black;
  position: absolute;
  top: 87px;
  left: 47px;
  width: 15px;
  height: 8px;
}
.Kyle .body {
  -webkit-border-radius: 50% 50% 33% 33%/100px 100px 17px 17px;
  -moz-border-radius: 50% 50% 33% 33%/100px 100px 17px 17px;
  -ms-border-radius: 50% 50% 33% 33%/100px 100px 17px 17px;
  -o-border-radius: 50% 50% 33% 33%/100px 100px 17px 17px;
  border-radius: 50% 50% 33% 33%/100px 100px 17px 17px;
  position: absolute;
  top: 98px;
  left: 19px;
  height: 72px;
  width: 100px;
  background: #eb5a10;
  z-index: 10;
}
.Kyle .body:before {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  content: " ";
  position: absolute;
  top: -10px;
  left: 12px;
  width: 78px;
  height: 31px;
  border-bottom: solid 13px #54db10;
}
.Kyle .body .zipper {
  position: absolute;
  top: 27px;
  left: 49px;
  width: 1px;
  height: 42px;
  background: #5c0011;
}

.Kyle .body  .hand-l {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 42px;
  left: -6px;
  width: 20px;
  height: 20px;
  background: #54db10;
  z-index: 10;
}
.Kyle .body  .hand-l:before {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  content: " ";
  position: absolute;
  left: 11px;
  top: 3px;
  height: 6px;
  width: 6px;
  border: solid 1px #5c0011;
  background: #54db10;
}
.Kyle .body .hand-r {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 45px;
  left: 83px;
  width: 20px;
  height: 20px;
  background: #54db10;
  z-index: 10;
}
.Kyle .body .hand-r:before {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  content: " ";
  position: absolute;
  left: 2px;
  top: 3px;
  height: 6px;
  width: 6px;
  border: solid 1px #5c0011;
  background: #54db10;
}
.Kyle .legs {
  -webkit-border-radius: 44px 44px 0 0;
  -moz-border-radius: 44px 44px 0 0;
  -ms-border-radius: 44px 44px 0 0;
  -o-border-radius: 44px 44px 0 0;
  border-radius: 44px 44px 0 0;
  position: absolute;
  left: 32px;
  top: 154px;
  width: 75px;
  height: 25px;
  background: #326b53;
  z-index: 5;
}
.Kyle .legs .foot-l, .Kyle .legs .foot-r {
  -webkit-border-radius: 50% 50% 0 0/7px;
  -moz-border-radius: 50% 50% 0 0/7px;
  -ms-border-radius: 50% 50% 0 0/7px;
  -o-border-radius: 50% 50% 0 0/7px;
  border-radius: 50% 50% 0 0/7px;
  position: absolute;
  top: 21px;
  left: -5px;
  width: 45px;
  height: 5px;
  background: #21241e;
  z-index: 5;
}
.Kyle .legs .foot-r {
  left: 33px;
}





















































































































































































































































































#hero {
width: 250px;
height: 358px;
position: absolute;
}

@keyframes hero-static{

	from{
		top :0;
	}

	to {

		top:-20px;
	}
	
}
#hero .static{
	visibility: hidden;
background-image: url(../img/static.png);
width: 100%;
height: 100%;
position: absolute;
left: 0;
top:0;
z-index: 2;
animation-name: hero-static;
animation-duration:1s;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-timing-function: ease-in-out;
}
#hero .attack{
	visibility: hidden;
background-image: url(../img/atack.png);
width: 100%;
height: 100%;
position: absolute;
left: 0;
top:0;
z-index: 2;
}
#hero.idle .static{

	visibility: visible;
}
#hero.attack .attack{
	visibility: visible;
	top: -30px;
}


@keyframes shadow{
 	from{

 		width: 250px;
 	}

 	to{

width: 225px;
left: 12.5px;



 	}
 }

#hero .shadow{

background-image:url(../img/shadow.png);
position: absolute;
width: 250px;
height: 84px;
background-repeat: no-repeat;
left: 0;
bottom: -40px;
z-index: 1;
background-size: 100%;
animation-name: shadow;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-timing-function: ease-in-out;
}

#hero.attack .shadow{
animation: none;
width: 225px;
left: 12.5px;

}

#hero .text{

font-size: 30px;
font-weight:thin;
color: black;
width: 310px;
position: absolute;
left: 100%;
top: -10px;
 border: 4px double black;
}
#hero .text:focus {
  color: red;
}

@keyframes lazer{
   from{

width: 150px;

   }

to{

 width: 380px;

}

}
#hero .lazer{
	width: 175px;
	height: 60px;
	position: absolute;
	left: 140px;
	top: 30px;
	background-image: url(../img/lazer.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	animation-name: lazer;
animation-duration: 3s;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-timing-function: linear;
}

 #hero .lazer::after{
content: "";
width: 3px;
height: 100%;
right: 0;
top: 1;
background-color: #ffe500;
position: absolute;
border-right: 10px;
box-shadow:  0 0 30px 3px #ffe500;

 } 

	
